# macOS system files
.DS_Store

# Node.js dependencies
node_modules/

# Python cache files
_pycache_/
*.py[cod]

# Logs
*.log

# Build files
dist/
build/

# IDE settings
.vscode/
.idea/

# Temp files
*.tmp
*.swp
*.bak
*.old
*.sublime-workspace

# Git files
*.git/
*.git